<!-- Project Area Start Here -->

<!--<footer class="footer-wrap-layout1" style="min-height: 5vh !important;">-->
<!--    <div class="footer-bottom-wrap-layout1">-->
<!--        <div class="container">-->
<!--            <div class="copyright">-->
<!--                Copyright © 2014- 2023 Anchor Pro Wash | Website developed &-->
<!--                hosted by-->
<!--                <a href="https://schrader.co/"> Schrader Web Solutions </a>-->
<!--            </div>-->

<!--            <div class="copyright">-->
<!--                <a href="#">Privacy Policy</a>-->
<!--                |-->
<!--                <a href="#">Terms Conditions</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->


